
body{
    margin:0px;

}
.holder{
  
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-evenly;
    
}
.item{
   
    width:100px;
    height:100px;
    background-color: aqua;
   
}
